<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>Xos Sample GUI Extension</h1>
      </div>
      <div class="col-xs-12">
        <p>This page is loaded from an external container!</p>
      </div>
      <div class="col-xs-12">
        From this extension you can use all the feature provided by the core, <br/>
        for example you can toggle the side panel injecting custom content.
        <br/>
        <br/>
        <a ng-click="vm.togglePanel()" class="btn btn-success">Open Side Panel</a>
      </div>
    </div>
  </div>
</section>